@font-face {
  font-family: "Made Evolve Sans";
  src: url("./fonts/made_evolve_sans_regular-webfont.woff") format("woff2"), url("./fonts/made_evolve_sans_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Made Evolve Sans";
  src: url("./fonts/made_evolve_sans_bold-webfont.woff2") format("woff2"), url("./fonts/made_evolve_sans_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Made Evolve Sans";
  src: url("./fonts/made_evolve_sans_light-webfont.woff2") format("woff2"), url("./fonts/made_evolve_sans_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-size: 18px;
}

#app {
  font-family: 'Made Evolve Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #102535;
  font-size: 1em;
  line-height: 1.7;
}

#app h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: 0.05rem;
}

#app h2 {
  font-size: 32px;
  font-weight: 700;
}

#app h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

#app h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.02rem;
}

.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.headerbar {
  background: #102535;
  margin: 0;
  min-height: 30px;
  padding: 1em;
}

.lead-title:after {
  border-bottom: 2px solid #102535;
  margin-top: 20px;
  width: 40px;
  content: "";
  display: block;
}

p.lead-text {
 font-size: 20px;
 color: #4a4a4a;
}

header.adx-shield {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 120px;
    grid-template-rows: minmax(250px, 50vh);
    align-content: center;
    justify-content: center;
    width: 1200px;
    overflow: clip;
    background: #102535;
    height: 400px;
    border-left: 10px solid #d40000;
}

header.adx-shield.left {
  grid-template-columns: 160px 3fr 1fr 3fr;
}

header.adx-shield.basic {
  grid-template-columns: 1fr 4fr 2fr;
  border-left: none;
  height: 250px;
}

header.adx-shield .image {
    grid-area: 1/3/1/3;
    width: 40%;
    clip-path: path("M0.06,0.28v149.77c0,0-8.75,171.93,186.55,245.66c0,0,178.89-51.54,188.19-245.2s0,0,0,0V0.28H0.06z");
    transform: scale(1.2);
    justify-self: center;
    min-width: 400px;
    min-height: 400px;
    margin-right: -3vw;
}

header.adx-shield .image.left {
  grid-area: 1/2/1/2;
}

header.adx-shield .image img {
    display: grid;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header.adx-shield .image img.center-center {
    object-position: center center;
}

header.adx-shield .make-history {
    grid-area: 1/4/1/4;
    display: grid;
    margin: 1vw;
}

header.adx-shield .make-history.left {
  grid-area: 1/1/1/1;
}

header.adx-shield .make-history img {
    display: grid;
    width: 100%;
    align-self: end;
}

header.adx-shield .overlay {
  grid-area: 1/1/2/2;
  display: grid;
  width: 100%;
  height: 100%;
}

header.adx-shield .text {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    margin: 4vw;
    border: none;
    background: none;
    text-align: left;
}

header.adx-shield .text.left {
  grid-area: 1/4/1/4;
}

header.adx-shield .text > * {
    margin: 0;
    padding-bottom: 0.579rem;
    color: #fff;
}

header.adx-shield.basic .text {
  grid-area: 1/2/1/2;
  margin-top: 7vw;
}

header.adx-shield.basic .curve {
  position: relative;
  align-items: end;
  display: grid;
}

header.adx-shield.basic .curve.left {
  grid-area: 1/1/1/1;
  background: #005a9c;
  clip-path: path("M10,6.7V0H0V322.82H250.2C10,246.75,10,6.7,10,6.7Z");
  object-position: left bottom;
}

header.adx-shield.basic .curve.right {
  grid-area: 1/3/1/3;
  background: #d40000;
  clip-path: path("M430.23,-3.3V0h32.26V322.82H0C240.23,216.75,240.23,5.7,240.23,-23.3Z");
  object-position: right bottom;
}

.download-section {
  background-color: #f5f5f5;
}

.image-presets img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background: #102535;
  margin: 0;
  color: white;
  min-height: 150px;
  padding: 1em;
}